<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link href="/vendor/swagger-ui/dist/css/typography.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/vendor/swagger-ui/dist/css/reset.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/vendor/swagger-ui/dist/css/screen.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/vendor/swagger-ui/dist/css/reset.css" media="print" rel="stylesheet" type="text/css"/>
  <link href="/vendor/swagger-ui/dist/css/print.css" media="print" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{{body}}}

  <script src='/vendor/swagger-ui/dist/lib/jquery-1.8.0.min.js' type='text/javascript'></script>
  <script src='/vendor/swagger-ui/dist/lib/jquery.slideto.min.js' type='text/javascript'></script>
  <script src='/vendor/swagger-ui/dist/lib/jquery.wiggle.min.js' type='text/javascript'></script>
  <script src='/vendor/swagger-ui/dist/lib/jquery.ba-bbq.min.js' type='text/javascript'></script>
  <script src='/vendor/swagger-ui/dist/lib/handlebars-2.0.0.js' type='text/javascript'></script>
  <script src='/vendor/swagger-ui/dist/lib/underscore-min.js' type='text/javascript'></script>
  <script src='/vendor/swagger-ui/dist/lib/backbone-min.js' type='text/javascript'></script>
  <script src='/vendor/swagger-ui/dist/swagger-ui.js' type='text/javascript'></script>
  <script src='/vendor/swagger-ui/dist/lib/highlight.7.3.pack.js' type='text/javascript'></script>
  <script src='/vendor/swagger-ui/dist/lib/marked.js' type='text/javascript'></script>

  <script type="text/javascript">
    $(function () {
      var url = window.location.search.match(/url=([^&]+)/);
      if (url && url.length > 1) {
        url = decodeURIComponent(url[1]);
      } else {
        url = '/spec/api/swagger.json';
      }
      window.swaggerUi = new SwaggerUi({
        url: url,
        dom_id: "swagger-ui-container",
        supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
        onComplete: function(swaggerApi, swaggerUi){
          $('pre code').each(function(i, e) {
            hljs.highlightBlock(e)
          });
          addApiKeyAuthorization();
        },
        onFailure: function(data) {
          log("Unable to Load SwaggerUI");
        },
        docExpansion: "none",
        sorter : "alpha"
      });

      function addApiKeyAuthorization(){
        var input = $('#input_apiKey')[0].value.split(':');
        var username = encodeURIComponent(input[0]);
        var token = encodeURIComponent(input[1]);
        if (token && token.trim() != "") {
          var tokenAuth = new SwaggerClient.ApiKeyAuthorization("token", token, "query");
          var tokenAuthUser = new SwaggerClient.ApiKeyAuthorization("username", username, "query");
          window.swaggerUi.api.clientAuthorizations.add("token", tokenAuth);
          window.swaggerUi.api.clientAuthorizations.add("username", tokenAuthUser);
        }
      }

      $('#input_apiKey').change(addApiKeyAuthorization);

      // if you have an apiKey you would like to pre-populate on the page for demonstration purposes...
      /*
        var apiKey = "myApiKeyXXXX123456789";
        $('#input_apiKey').val(apiKey);
        addApiKeyAuthorization();
      */

      window.swaggerUi.load();

      function log() {
        if ('console' in window) {
          console.log.apply(console, arguments);
        }
      }
    });
  </script>

  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</body>
</html>
