<section class="swagger-section">
  <header id='header'>
    <div class="swagger-ui-wrap">
      <a id="logo" href="http://tacc.utexas.edu">TACC</a>
      <form id='api_selector'>
        <div class='input'><input placeholder="http://example.com/api" id="input_baseUrl" name="baseUrl" type="text"/></div>
        <div class='input'><input placeholder="username:token" id="input_apiKey" name="apiKey" type="text"/></div>
        <div class='input'><a id="explore" href="#">Explore</a></div>
      </form>
    </div>
  </header>

  <div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
  <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</section>
